:root {
}

.dark {
}

h1 {
  @apply scroll-m-20 text-4xl font-bold lg:text-3xl text-center py-6;
}

h2 {
  @apply mt-4 scroll-m-20 border-b pb-2 mb-4 text-2xl font-semibold transition-colors first:mt-0;
}

h3 {
  @apply scroll-m-20 text-xl font-semibold;
}

.connections-table {
  @apply text-xl;
}

.table-heading {
  @apply border-b pb-2 mb-4 text-2xl font-semibold transition-colors;
}

table {
  @apply w-full border-collapse;
}

th,
td {
  @apply border border-gray-300 p-2 text-left leading-tight text-[var(--color-foreground)];
}

th {
  @apply bg-muted text-muted-foreground;
}

table tbody tr:nth-child(odd) {
  background-color: var(--color-table-nth-child-odd);
  color: var(--color-foreground);
}
